body {
    background-image: url('IMAGEM/background01-Popotos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: white;
    background-color: #fc9b0a;
    text-align: center;
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: aliceblue;
    
  }