@charset "UTF-8";

@font-face{
  font-family: "Titulo";
  src: url("../FONTES/Elementary_Gothic_Bookhand.otf") format("opentype");
  font-weight: normal;
}

:root{
  --cor1: #FC7C23;
  --cor2: #FAB105;
  --cor3: #FA9505;
  --cor4: #FC501C;
  --cor5: #FCD932;
  --cor6: #fcb147;

  --fonte-padrao: arial, verdana, helvetica, sans-serif;

  --fonte-destaque: "Titulo" ;

}

body {
font-family: var(--fonte-padrao);
 
      }
 header{
  background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
  min-height: 150px;
  text-align: center;
  
 }     
 header > h1{
  font-family: var(--fonte-destaque);
  font-size: 3em;
  color: var(--cor5);
  text-shadow: #0000005e 3px 3px 0px;
 }
 header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-shadow: #0000004b 3px 3px 0px;
    color: var(--cor2);
    margin-top: -20px;
    padding-bottom: 20px;
    
      
  }
  nav{
    background-color: var(--cor2);
    font-weight: bold;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
    margin: -20px 0px 10px;
  }
  nav > p > a{
    text-decoration: none;
    font-size: 1.2em;
    color: #631903;
    padding: 10px;
    transition-duration: 1s;
   
  }
  nav > p > a:hover{
    background-color: var(--cor4);
    color: #FCD932;
  }
  .flex-container{
    display: flex;
    
  }
  .flex-item1{
    padding: 10px;
  }

  .flex-item2{
    background-color: var(--cor2);
    font-size: 1.6em;
    padding: 20px 0px 10px 20px;
    width: 190px;
    height: 500px;

  }
  main{
    background-color: #f1f180;
  }
  main > img{
    margin: 10px;
    box-shadow: #8f240346 3px 3px 0px;
  }
  footer{
    background-color: brown;
  }
  footer > p{
    color: white;
    padding: 10px;
    text-align: center;
    
  }  
